extends base
block content
    div.login-form-wrapper
        div.login-form
            if errorMessage
                p(style="color: red;")=errorMessage
                br
            h3.title-name â˜•Check
            p 
                span ì•ˆë…•í•˜ì„¸ìš” ðŸš€ 
                span#checkUsername #{user ? user.username : "ìœ ì €"}
                span.check-text-box ë‹˜ ì´ë©”ì¼ì„ ì¸ì¦í•´ì£¼ì„¸ìš”
            br
            p
                b#time 0
                b ì´ˆ

            form(method="POST" action="/users/check").row.g-3
                div.col-12#checkEmail
                    label(for="inputCheck").form-label Check Number
                    input(type="hidden" name="username" value=`${user ? user.username : "ìœ ì €"}` )
                    input(type="text" placeholder="ì´ë©”ì¼ ì¸ì¦ë²ˆí˜¸ë¥¼ ìž…ë ¥í•´ì£¼ì„¸ìš”â˜•" name="checkEmail" ).form-control#inputCheck
                    button(type="submit").btn.btn-warning Click &rarr;

        script.
            const username = document.getElementById("checkUsername");
            const text = username.innerText;
            if(text === "ìœ ì €") {
                const verificationBox = document.querySelector("#checkEmail");
                const checkTextBox = document.querySelector(".check-text-box");
                const time = document.getElementById("time");
                verificationBox.style.display = "none";
                checkTextBox.innerText = "ë‹˜ 3ì´ˆ ë’¤ ë¡œê·¸ì¸ íŽ˜ì´ì§€ë¡œ ì´ë™í•©ë‹ˆë‹¤ â˜•"
                setInterval(() => {
                    let timeNum = Number(time.innerText);
                    ++timeNum;
                    time.innerText = timeNum;                    
                },1000)

                setTimeout(() => {
                    window.location.href ="/"
                },3000)

            }