div(data-bs-ride="carousel")#carouselExampleSlidesOnly.carousel.slide
    div.carousel-inner
        div.carousel-item.active
            img(src="http://source.unsplash.com/random" alt="image" height="500").d-block.w-100
        div.carousel-item
            img(src="http://source.unsplash.com/random" alt="image" height="500").d-block.w-100
        div.carousel-item
            img(src="http://source.unsplash.com/random" alt="image" height="500").d-block.w-100

